.count{
    color: var(--text-secondary);
    margin: 12px 0;
}
.input_container{
    margin-bottom: 40px;
}

@media screen and (min-width:720px){
    .input_container{
        display: flex;
        justify-content: space-between;


    }
    .input{
        flex: 5;
    }
    .count{
        flex:2
    }
}

